{% extends "base.html" %}

{% block content %}
<div id="topbar">
    <h2>
        Rules:
    </h2>
    <p>
        Rock paper scissors (also known by other orderings of the three items, with "rock" sometimes being called "stone", or as roshambo or ro-sham-bo)[1][2][3] is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" (a fist with the index finger and middle finger extended, forming a V). "Scissors" is identical to the two-fingered V sign (also indicating "victory" or "peace") except that it is pointed horizontally instead of being held upright in the air.
    </p>
</div>
<aside>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/1200px-Rock-paper-scissors.svg.png" alt="image" width="300" height="300">
</aside>
    <section id="section">
        <ul>
            <li>To play you need 2 players</li>
            <li>You simply put your choice to the url box after slash</li>
            <li>Once the first player has chosen, the secont player should type his/her choice after slash</li>
            <li>Having hit enter you will find out who won</li>
        </ul>
    </p>
    </section>

{% endblock %}